body{
      background-color: #23272A;
    }
    h1{
      color: #7289DA;
      font-family: Tahoma, Geneva, sans-serif;
    }
    h2{
      color: #FFFFFF;
      font-family: verdana;
      font-size: 18px;
      position: absolute;
      left: 50px;
      top: 60px;
    }
    .hr1{
      border-color: #99AAB5;
      position: absolute;
      top: 78px;
      width: 35px;
    }
    .hr2{
      border-color: #99AAB5;
      position: absolute;
      top: 78px;
      left: 280px;
      width: 980px;
    }
    .button{
      background-color: #2C2F33;
      border: none;
      color: black;
      padding: 200px 100px;
      text-align: center;
      text-align:
      text-decoration: none;
      display: inline-block;
      font-size: 32px;
      margin: 4px 20px;
      cursor: pointer;
      position: absolute;
      left: 60px;
      top: 100px;
    }
    .button2{
      background-color: #2C2F33;
      border: none;
      color: black;
      padding: 200px 100px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 32px;
      margin: 4px 20px;
      cursor: pointer;
      position: absolute;
      left: 460px;
      top: 100px;
    }
    .button3{
      background-color: #2C2F33;
      border: none;
      color: black;
      padding: 200px 100px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 32px;
      margin: 4px 20px;
      cursor: pointer;
      position: absolute;
      left: 860px;
      top: 100px;
    }
    .buttonAccount{
      background-color: #7289DA;
      border: none;
      color: black;
      padding: 10px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      position: absolute;
      left: 1080px;
      top: 20px;
    }